/vendor
/node_modules

package-lock.json
Homestead.yaml
.env
.DS_Store
.idea
_ide_helper.php
*.sql
*.sql.*
*.pid
.phpstorm.meta.php
supervisord.log
supervisord.pid
/storage/debugbar
*.csv
/test
*.png
debug.log

public/css/app.css*
public/js/app.js*

**/unsealed/*
**/secrets/*-unsealed.json
/.env.production
.devspace
